<!-- <div id="mainTable">
<table>
	<tr>
	<td class="reviews">
		<table id="great_andhra_reviews">
			<caption>Great Andhra</caption>
			<tbody>
			<% @ga_reviews.each do |l| %>
				<tr><td><a href="<%= l['href']%>" target="_blank"><%= l['text']%></a></td></tr>
			<% end %>
			</tbody>
		</table>
	</td>
	<td class="reviews">
		<table id="idle_brain_reviews">
			<caption>Idlebrain</caption>
			<tbody>
			<% @ib_reviews.each do |link| %>
				<tr><td><a href="<%= link['href']%>" target="_blank"><%= link['text']%></a></td></tr>
			<% end %>
			</tbody>
		</table>
	</td>
	</tr>
	<tr>
	<td class="reviews">
		<table id="gulte_reviews">
			<caption>Gulte</caption>
			<tbody>
			<% @gt_reviews.each do |link| %>
				<tr><td><a href="<%= link['href']%>" target="_blank"><%= link['text']%></a></td></tr>
			<% end %>
			</tbody>
		</table>
	</td>
	<td></td>
	</tr>
</table>
</div>
-->

<div id="main-table">
	<div class="row">
		<div class="col-md-4 col-sm-4 box">
			<div class="review-box">
				<h2>Great Andhra</h2>
				<ul class="list-unstyled">
					<% @ga_reviews.each do |l| %>
					<li><a href="<%= l['href']%>" target="_blank"><%= l['text']%></a></li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="review-box">	
				<h2>Idlebrain</h2>
				<ul class="list-unstyled">
					<% @ib_reviews.each do |l| %>
					<li><a href="<%= l['href']%>" target="_blank"><%= l['text']%></a></li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="review-box">
				<h2>Gulte.com</h2>
				<ul class="list-unstyled">
					<% @gt_reviews.each do |l| %>
					<li><a href="<%= l['href']%>" target="_blank"><%= l['text']%></a></li>
					<% end %>
				</ul>
			</div>
		</div>
		<!-- Add the extra clearfix for only the required viewport -->
	</div>
</div>

