<div id="mainTable">
<table>
	<tr>
	<td class="reviews">
		<table id="great_andhra_reviews">
			<caption>Great Andhra</caption>
			<tbody>
			<% @ga_reviews.each do |l| %>
				<tr><td><a href="<%= l['href']%>" target="_blank"><%= l['text']%></a></td></tr>
			<% end %>
			</tbody>
		</table>
	</td>
	<td class="reviews">
		<table id="idle_brain_reviews">
			<caption>Idlebrain</caption>
			<tbody>
			<% @ib_reviews.each do |link| %>
				<tr><td><a href="<%= link['href']%>" target="_blank"><%= link['text']%></a></td></tr>
			<% end %>
			</tbody>
		</table>
	</td>
	</tr>
	<tr>
	<td class="reviews">
		<table id="gulte_reviews">
			<caption>Gulte.com</caption>
			<tbody>
			<% @gt_reviews.each do |link| %>
				<tr><td><a href="<%= link['href']%>" target="_blank"><%= link['text']%></a></td></tr>
			<% end %>
			</tbody>
		</table>
	</td>
	<td></td>
	</tr>
</table>
</div>